.container
{
    border: 2px solid black;
    width:500px;height:500px; 
    gap:4px;
    display:flex;
    flex-direction:row;
    flex-wrap: wrap;
    flex-grow:2; 
}
.child
{
    border:2px solid black;
    width:100px;
    height:100px;
    display:inline-block;
}
